<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n
            </Pattern>
        </layout>
    </appender>

    <Logger name="example" level="INFO" />

    <Root level="INFO">
        <appender-ref ref="Console"/>
    </Root>
</Configuration>